<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dlgdev.popularmovies"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.movies.MoviePostersActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.details.MovieDetailsActivity"
            android:label="@string/movie_details_activity_title"
            android:parentActivityName=".ui.movies.MoviePostersActivity">
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.movies.MoviePostersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dlgdev.popularmovies.ui.movies.MoviePostersActivity"/>
        </activity>

        <provider
            android:name=".data.db.MovieProvider"
            android:authorities="@string/content_authority"
            android:enabled="true"
            android:exported="false"
            android:syncable="true"/>

        <service
            android:name=".data.sync.AuthenticatorService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service
            android:name=".data.sync.MovieDatabaseSyncService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>